/*
 See http://perfectmotherfuckingwebsite.com/
 */
body {
    font: 1em -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
    color: #444;
    margin: 20px auto;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

blockquote {
    font-style: italic;
    padding-left: 1em;
    border-left: 3px solid #ccc;
}

a {
    color: #3b8bba;
    text-decoration: none;
}

a:visited {
    color: #265778;
}

.content {
    max-width: 650px;
    margin: auto;
}

.nav-link, .nav-link:visited {
    flex: 1;
    color: #444;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.content img {
    width: 100%
}

